<%= error_messages_for 'messages' %>

<!--[form:messages]-->
<p><label for="messages_subject">Subject</label><br/>
<%= text_field 'message', 'subject'  %></p>

<p><label for="messages_body">Body</label><br/>
<%= text_area 'message', 'body'  %></p>

<!--[eoform:messages]-->

