<% for column in WaitingList.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @waiting_list.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @waiting_list %> |
<%= link_to 'Back', :action => 'list' %>
