<%= error_messages_for 'case_note' %>

<!--[form:case_note]-->
<p><label for="case_note_subject">Subject</label><br/>
<%= text_field 'case_note', 'subject'  %></p>

<p><label for="case_note_body">Body</label><br/>
<%= text_area 'case_note', 'body'  %></p>



<!--[eoform:case_note]-->

