<h1>New case_note</h1>

<% form_tag :action => 'create', :id => @client do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list', :id => @client %>
