<h1>Editing tblclient</h1>

<% form_tag :action => 'update', :id => @tblclient do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @tblclient %> |
<%= link_to 'Back', :action => 'list' %>
