<h1>Editing service</h1>

<% form_tag :action => 'update', :id => @service do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @service %> |
<%= link_to 'Back', :action => 'list' %> | 
<%= link_to 'Delete', { :action => 'delete', :id => @service }, :confirm => 'Are you sure?', :method => :post %>
